body{
    margin: 0%;
    padding: 0%;
}
h4{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(3, 32, 95);
}
#main_div {
    background-color: rgb(102, 100, 100);
   display: flex;
}
#div_left{
    background-color:rgb(179, 172, 179);
      width: 30%;
    height: 11cm;
    line-height: 2;
    padding-left: 9px;
}
#div_right{
    background-color: rgb(179, 172, 179);
    width: 35%;
    height: 11cm;
}
table,
td {
    border: 1px solid black;
    border-spacing: 0.5mm;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    body {
        /* background-color: blue; */
    }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    body {
        /* background-color: olive; */
    }
}

